@import "../utils/variables.scss";

.home {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  .main-content {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    animation: FadeInAnimation 2s ease-in;

    &-typewriterMessage {
      color: rgb(240, 236, 236);
      font-size: 2.1rem;
      font-weight: bold;
      font-family: $font-family-Gotu;
    }
  }

  .weather-widget {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: 7%;
  }
}
