@import "./utils/animations.scss";

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 25, 25, 0.5);
}

.ReactModal__Content {
  animation: FadeInAnimationModal 1.2s ease-in;
  animation-fill-mode: both;
}
